<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog ON</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
<body>
{{!-- header part --}}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark  navbar-dark sticky-top">
    <a class="navbar-brand text-info mr-5" href="#"><i class="fas fa-blog"></i> Blog <label class="text-danger">ON</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link btn btn-secondary mr-4 p-2" href="../">Home <i class="fas fa-home"></i></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link btn btn-secondary mr-4 p-2"  href="/add">Add Articles <i class="fas fa-plus-square"></i></a>
            </li>
          </ul>
        </div>
    </nav>

{{!-- middle part --}}
    <div class="container">
        <div class="jumbotron">
            <h1><i class="fas fa-blog"></i> Blog ON</h1>
            <form action="add" method="POST" class="mt-5">
                <input type="text" name="title" placeholder="Enter Title" class="form-control" required>
                <input type="text" name="url" placeholder="Enter image url" class="form-control mt-4" required>
                <textarea name="content" cols="30" rows="10" class="form-control mt-4" placeholder="Enter Content Here" required></textarea> 
                <input type="submit" value="Post" class="btn btn-lg btn-success mt-3">
            </form>
        </div>
    </div>

{{!-- footer part --}}
<footer class="text-center text-lg-start text-white " style="background-color: black;">
  <div class="text-center p-3">
    Made By MUKUL 😀 
  </div>
</footer>        

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>